.main-features {
  margin-top: 10px;      
}

.section-title {
  font-size: 48px;
  display: block;
  font-weight: 300;
  text-align: center;
}

.section-subtitle {
  color: #666;
  font-size: 15px;
  display: block;
  margin : 20px 0 30px;
  text-align: center;
}

#About {
  padding : 50px;
}
#Tracks {
  padding : 50px;
  background: #1ba0e1;
color:#FFF;
}
#Speakers {
  padding : 50px;
}
#Register {
  padding : 50px;
  background: #f09709;
  color:#FFF;
}

#contactUs {
  padding : 50px;
}

.intro-content {
 color: rgb(0, 0, 0);
 font-family: Arial, Helvetica, sans;
 font-size: 11px;
 line-height: 14px;
 text-align: center; 
}